@import '../../assets/scss/', '../../assets/scss/animations';
.cart-modal {
  min-height: 100%;
  background-color: getColor('textLight');
  animation-name: slide_left_animation_page_load;
  animation-duration: 500ms;
  display: flex;
  flex-direction: column;
  padding: 1.6rem 3.2rem;
  min-width: 100%;
  @include laptop {
    // min-width: 60rem;
    grid-area: modal;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
  }
  &__footer {
    background-color: getColor('textLight');
    color: getColor('textDark');
    min-width: 100%;
    padding: 3.2rem 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    border-top: 2px dashed getColor('primaryAccent');

    button {
      padding: 1.6rem 3.2rem;
      outline: none;
      border: none;
      background-color: getColor('accentColor');
      border-radius: 6px;
      font-weight: bold;
      min-width: 32rem;
    }
  }
  &__empty-cart {
    padding: 0 3.2rem;
    text-align: center;
  }
}
