@import '../../assets/scss';

.app-header {
  min-height: 60vh;
  display: grid;
  grid-template-rows: min-content auto;
  background-color: getColor('accentBackground');
  color: getColor('textLight');

  &__top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3.2rem;
  }

  &__hero {
    padding: 0 3.2rem;
    justify-content: space-evenly;

    display: flex;
    align-items: center;

    h1 {
      max-width: 14ch;
      line-height: 1.5;
      color: lightenColor( getColor("primaryColor"),15)
    }
  }
  &__search{
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  &__nav{
    display: flex;
    gap:2rem;
    &__menu{
      display: flex;
      list-style-type: none;
      gap:1rem;
      align-items: center;
      font-size: 1.3em;
    }
  }
}
