@import '../../assets/scss';

.app-header {
  min-height: 60vh;
  display: grid;
  grid-template-rows: min-content auto;
  background-color: getColor('accentBackground');
  color: getColor('textLight');

  @include mobile {
    min-height: 100vh;
  }

  &__top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3.2rem;

    @include mobile {
      justify-content: space-between;
      padding: 1.6rem;
    }
  }

  &__hero {
    padding: 0 3.2rem;
    justify-content: space-evenly;

    display: flex;
    align-items: center;

    h1 {
      max-width: 14ch;
      line-height: 1.5;
      color: lightenColor(getColor('primaryColor'), 15);
    }

    @include tablet {
      h1 {
        display: none;
      }
    }
    @include mobile {
      flex-direction: column-reverse;
      text-align: center;
      padding: 1.6rem;
      h1 {
        font-size: 2em;
      }
    }
  }
  &__search {
    display: flex;
    align-items: center;
    gap: 2rem;

    @include mobile {
      flex-direction: column;
    }
  }
  &__nav {
    display: flex;
    gap: 2rem;
    &__menu {
      display: flex;
      list-style-type: none;
      gap: 1rem;
      align-items: center;
      font-size: 1.3em;
    }

    @include mobile {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: getColor('textDark');
      justify-content: space-evenly;
      padding: 2rem 0;
    }
  }
}
