@import '../assets/scss';

.products-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 1.6rem 3.2rem;

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
  }
}
