@import './assets/scss/';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  line-height: 0.8;
  color: #222;
}

h1,
h2 {
  font-family: 'Knewave', cursive;
  line-height: 1;
}
h1.heading,
h2.heading {
  font-size: 2em;
}
h1.heading--large,
h2.heading--large {
  font-size: 3em;
}
h1.heading--extra-large,
h2.heading--extra-large {
  font-size: 4em;
}

.figure {
  padding: 1rem;
  display: block;

  background-color: getColor('primaryBackground');

  &--primary {
    background-color: getColor('primaryColor');
  }

  &--accent {
    background-color: getColor('accentColor');
  }
}

.icon--normal {
  font-size: 1.5em;
}
.icon--medium {
  font-size: 2em;
}

.figure--circle {
  border-radius: 50%;
}
